<a href="https://colab.research.google.com/github/cw758823/MIS2800./blob/main/AFC_North_APPG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import sqlite3

In [22]:
#create AFC_North_APPG.db in temporary Colab local storage
conn = sqlite3.connect('AFC_North_APPG.db')

#Create a Strict Table

In [23]:
import sqlite3

#create AFC_North_APPG.db in temporary Colab local storage
conn = sqlite3.connect('AFC_North_APPG.db')

#define a structure for the data table
conn.execute('''
CREATE TABLE AFC_North_APPG(
  team_name TEXT PRIMARY KEY NOT NULL,
  city TEXT,
  average_ppg REAL,
  wins_2025 INTEGER,
  losses_2025 INTEGER)
  STRICT;
  ''')

OperationalError: table AFC_North_APPG already exists

#Add Team Stats

In [ ]:
#adding team stats

conn.execute('''
INSERT INTO AFC_North_APPG (team_name, city, average_ppg, wins_2025, losses_2025)
VALUES ('Steelers', 'Pittsburgh', 23.4, 10, 7),
('Ravens', 'Baltimore', 24.9, 8, 9),
('Bengals', 'Cincinnati', 24.4, 6, 11),
('Browns', 'Cleveland', 16.4, 5, 12);
''')

conn.commit()

#Filtering Teams

In [ ]:
#slicing the data to show only specific teams
query = "SELECT * FROM AFC_North_APPG WHERE average_ppg > 20"
results = conn.execute(query)
for row in results:
  print(row)

#Sorting Data

In [ ]:
#sort numercially for highest to lowest based on wins
query = "SELECT team_name, wins_2025 FROM AFC_North_APPG ORDER BY wins_2025 DESC"
for row in conn.execute(query):
  print(row)

In [ ]:
#Find the teams that have an average ppg of at least 24 and 8 wins
query_AND = "SELECT team_name, average_ppg, wins_2025 FROM AFC_North_APPG WHERE average_ppg >= 24 AND wins_2025 >= 8"
for row in conn.execute(query_AND):
  print(row)

In [ ]:
#find the teams that have an average ppg of at least 24 or 8 wins
query_OR = "SELECT team_name, average_ppg, wins_2025 FROM AFC_North_APPG WHERE average_ppg >= 24 OR wins_2025 >= 8"
for row in conn.execute(query_OR):
  print(row)